@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	@import "components/form";
}

/* Set up default scrollbar colors */
:root {
	--scrollbar-thumb-color: #848484;
	--scrollbar-track-color: #ccc;
}

/* Dark mode */
.dark {
	--scrollbar-thumb-color: #5d6569;
	--scrollbar-track-color: #35393b;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

/* print mode */
@media print {
	body {
		margin: 0;
		-webkit-print-color-adjust: exact;
	}

	.print-button {
		display: none;
	}

	.section-bg {
		background-color: black;
	}

	.fieldset {
		background-color: black !important;
	}

	@page {
		size: A4 protrait;
		margin-top: 2mm;
		margin-bottom: 2mm;
	}
}

// Shaking the days left
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.shake {
	animation: shake 3s infinite;
}

// Blinking the progress bar
@keyframes blink {
	0%,
	100% {
		opacity: 0.75;
	}

	50% {
		opacity: 1;
	}
}

.animate-blink {
	animation: blink 1s infinite;
}

.rdp-vhidden {
	@apply hidden;
}

