.custom-calendar {
  width: 100%;
  border: none;
  background: inherit;
}

/* Styles for light mode */
.event-day {
  background-color: #add8e6 !important; /* Light blue for event days */
  color: #333 !important; /* Dark text for readability */
}

.event-day.react-calendar__tile--active,
.event-day.react-calendar__tile--active:hover {
  background-color: #add8e6 !important; /* This should be your event day color */
  color: #333 !important;
}


/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  .event-day {
    background-color: #375a7f !important; /* Darker blue for event days */
    color: #fff !important; /* White text for readability */
  }
}

.react-calendar__tile--active {
  background: none !important;
  border: 2px solid #555 !important; /* Solid border for active day */
  color: inherit !important;
  border-radius: 50%; /* Maintain circular shape for consistency */
}

.react-calendar__tile--active:hover {
  color: black !important;
}


/* Styles for light mode */
.react-calendar__tile--now {
  background-color: #ffcc80 !important; /* Softer shade of orange for today */
  color: #333;
  border-radius: 50%; /* Circular shape for today's date */
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  .react-calendar__tile--now {
    background-color: #d8871e !important; /* Darker orange for today in dark mode */
    color: #fff;
    border-radius: 50%; /* Circular shape for today's date */
  }
}

.react-calendar__month-view__days__day:hover {
  background-color: #f0f0f0 !important; /* Light grey for hover, works with many colors */
  color: #333;
  border-radius: 50%; /* Circular on hover for consistency */
}

/* Hover styles for dark mode */
@media (prefers-color-scheme: dark) {
  .react-calendar__month-view__days__day:hover {
    background-color: #4d4d4d !important; /* Darker grey for hover in dark mode */
    color: #fff;
    border-radius: 50%; /* Circular on hover for consistency */
  }
}

/* Navigation label and arrows hover states */
.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
  color: #555 !important; /* Dark grey to be noticeable on hover */
}

/* Hover styles for dark mode */
@media (prefers-color-scheme: dark) {
  .react-calendar__navigation__label:hover,
  .react-calendar__navigation__arrow:hover {
    color: #ccc !important; /* Lighter grey for hover in dark mode */
  }
}

/* Custom style for the weekend */
.weekend {
  color: red; /* Set text color for weekends if needed */
}

/* Hover state for weekend date, color stays red */
.react-calendar__month-view__days__day--weekend:hover {
  color: red;
}
